<h1>Editing instituicao</h1>

<%= render "form", instituicao: @instituicao %>

<br>

<div>
  <%= link_to "Show this instituicao", @instituicao %> |
  <%= link_to "Back to instituicaos", instituicaos_path %>
</div>
